.titre {
font-size: 250%;
 position: relative;
 left: 550px;
}
body {
 background-color: gray;
}
.info {
 position: absolute;
 bottom: 0px;
 font-size: 150%;
 z-index: 10;
}
.category {
border-radius: 3px;
display: flex;
padding-bottom: 100px;
position: relative;
left: 450px;
border: solid 5px black;
height: 60px;
width: 315px;
}
.app {
margin: 10px;
font-size: 300%;
}
.jeu {
margin: 10px;
font-size: 300%;
position: relative;
top: 75px;
left: 100px;
}
.jailbreak {
margin: 10px;
font-size: 300%;
position: relative;
top: 75px;
right: 195px;
}
.emulateur {
margin: 10px;
font-size: 300%;
position: relative;
right: 290px;
}
.sans {
position: absolute;
top: 125px;
left: 275px;
}
